@model Pokedex.Models.Pokemon

@{
    ViewData["Title"] = "Eliminar Pokemon";
}

<h1>Eliminar Pokemon</h1>

<h3>Estas a punto de borrar un pokemon!! Estas seguro?</h3>
<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Powers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Powers)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
